In [10]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import os

In [11]:
csv_file_name = "Resources/school_url.csv"

In [13]:
csv_df = pd.read_csv(csv_file_name)
csv_df.head()

,school_name,web_address
0,ACADEMY FOR SCIENCE AND DESIGN CHARTER (H),https://www.asdnh.org/
1,ALVIRNE HIGH SCHOOL,https://www.sau81.org/ahs/schoolcounseling/cou...
2,BEDFORD HIGH SCHOOL,https://sites.google.com/bedfordnhk12.net/bhsb...
3,BELMONT HIGH SCHOOL,https://bhs.sau80.org/
4,BERLIN SENIOR HIGH SCHOOL,https://www.sau3.org/?openSearch=true

In [5]:
driver = webdriver.Firefox()
all_rows = []

In [6]:
for index, row in csv_df.iterrows():
    school_name = row['school_name']
    web_address = row['web_address']
    driver.get(web_address)
    data = {} 
    pos = driver.find_elements(By.XPATH, "//a[contains(text(), 'Program of')]")
    all_rows.append(school_name)
    for p in pos:
        all_rows.append(p.get_attribute('href'))
       
        
final_df = pd.DataFrame(all_rows)

In [7]:
fn = "nh_catalogs.xlsx"
final_df.to_excel(fn, engine='openpyxl')

In [8]:
driver.quit()